<nav class="container">
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        <button md-button color="primary" class="home-button">HOME</button>
    </a>

    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
      <button md-button color="primary" class="home-button">CHARTS</button>
    </a>

    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
      <button md-button color="primary" class="home-button">DEVICES</button>
    </a>

    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
      <button md-button color="primary" class="home-button">SETUP</button>
    </a>

    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        <button md-button color="primary" class="home-button">ABOUT</button>
    </a>
</nav>
