<div class="container">
    <md-card class="col-md-4 col-md-offset-4 center">
        <md-toolbar color="primary">SIGN UP</md-toolbar>
        <md-card-content class="col-md-12">
            <form class="form-signin" [formGroup]="registerForm">
                <md-input type="email" id="inputEmail"
                       class="form-control" placeholder="Email address"
                       autofocus="" formControlName="email"></md-input>

                <md-input type="password" id="inputPassword"
                       class="form-control" placeholder="Password"
                       formControlName="password" #password></md-input>

                <md-input type="password" id="inputRepeatPassword"
                       class="form-control" placeholder="Password again"
                       formControlName="confirmPassword"
                       [ngClass]="{error: confirmPassword.value != password.value}"
                       #confirmPassword></md-input>

                <md-input type="text" id="deviceId"
                       class="form-control" placeholder="Device ID"
                       formControlName="deviceId"
                       #deviceId></md-input>

                <p class="error-message">{{error}}</p>
            </form>


            <md-card-actions align="end">
                <button md-button (click)="goToLogin()">LOGIN</button>
                <button md-raised-button color="primary" (click)="onSubmit()">SIGN UP</button>
            </md-card-actions>

        </md-card-content>

    </md-card>
</div>
